{% load static %}
<nav class="flex justify-between space-x-4">

  <div class="logo flex-shrink-0 md:hidden lg:hidden">
    <a href="{% url 'home:index' %}" class="flex items-center space-x-4 sm:pb-0">
      {% if company_icons.logo_icon %}
      <img src="{{ company_icons.logo_icon.url }}" alt="{{ company.name }}" class="icon--md"/>
      {% elif company.logo %}
          <img src="{{ company.logo.url }}" alt="{{ company.name }}" class="icon--md"/>
      {% else %}
          <img src="{% static 'img/logo.svg' %}" alt="{{ company.name }}" class="icon--md"/>
      {% endif %}
      <span class="sub-headline hidden xl:block">
        {{ company.name|default:'Company'|upper }}
      </span>
    </a>
  </div>


  <input type="text" placeholder="Search..." class="w-full rounded-xl bg-neutral-100 dark:bg-neutral-800 px-4 h-10" />
  <div class="lg:block">
   <!-- User Area -->
      <div
        class="relative"
        x-data="{ dropdownOpen: false }"
        @click.outside="dropdownOpen = false"
      >
        <a
          class="flex items-center gap-4"
          href="#"
          @click.prevent="dropdownOpen = ! dropdownOpen"
        >
          <span class="hidden text-right lg:block">
            <span class="type-base--bold"
              >{{ user.username|title }}</span
            >
            <span class="block text-xs type-small">Owner</span>
          </span>

          <span class="rounded-full">
            <img src="{%static 'img/users/user-03.png'%}" style="width:40px" alt="User" />
          </span>

          <svg
            :class="dropdownOpen && 'rotate-180'"
            class="hidden fill-current sm:block"
            width="12"
            height="8"
            viewBox="0 0 12 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.410765 0.910734C0.736202 0.585297 1.26384 0.585297 1.58928 0.910734L6.00002 5.32148L10.4108 0.910734C10.7362 0.585297 11.2638 0.585297 11.5893 0.910734C11.9147 1.23617 11.9147 1.76381 11.5893 2.08924L6.58928 7.08924C6.26384 7.41468 5.7362 7.41468 5.41077 7.08924L0.410765 2.08924C0.0853277 1.76381 0.0853277 1.23617 0.410765 0.910734Z"
              fill=""
            />
          </svg>
        </a>

        <!-- Dropdown Start -->
        <div x-show="dropdownOpen" class="absolute right-0 mt-2 w-48 bg-white border rounded-lg shadow-lg dark:bg-gray-800">
          <a href="{% url 'users:profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">My Profile</a>
          <a href="{% url 'users:logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">Log Out</a>
        </div>
        <!-- Dropdown End -->
      </div>
      <!-- User Area -->
  </div>
  <div class="block sm:hidden">
    <button type="button" id="sidebarToggle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon--md">
        <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75H12a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
</nav>


<style>
  .user-name {
    color: #4A5568; /* Gray-700 as fallback for text-gray-900 */
    font-weight: 500; /* Medium weight */
  }

  @media (min-width: 768px) {
    .user-name {
      font-size: .875rem; /* 20px for medium (md) devices */
    }
  }

  @media (max-width: 640px) {
    .user-name {
      font-size: 0.875rem; /* 14px for small (sm) devices */
    }
  }

  /* Hide the logo on medium and large devices */
@media (min-width: 768px) {
  .logo {
    display: none; /* Hide for medium (md) devices and larger */
  }
}

/* Show the logo on small devices */
@media (max-width: 767px) {
  .logo {
    display: block; /* Show for small (sm) devices */
  }
}

</style>

<script defer src="{%static 'plugins/js/cdn.min.js'%}"></script>
